.header{
position:relative;
background:linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.712) 100%, rgba(0, 0, 0, 0.685) 100%, rgba(0,0,0,0.5018382352941176) 100%),
url("/Images-Homepage/1_WvKLe0NhXE8nMvhdeAegcw.jpeg");
background-position:left;
background-size: cover;
background-repeat: no-repeat;
min-height:100vh;
padding:2.75rem 9rem;
display:flex;
justify-content:center;
align-items:center;
z-index:2;
}
.section{
min-height:100vh;
}
.header-text h2{
color:#fff;
font-size:2.1rem;
position:relative;
}
.header-text h2::after{
content:"";
position:absolute;
bottom:-20px;
left:0;
height:4px;
width:6%;
background-color:#65A22E;
}
.header-text h1{
padding-top:2.6rem;
padding-bottom:2rem;
font-style:italic;
color:#fff;
font-weight:500;
font-size:1.7rem;
}
.header-text a{
text-decoration:none;
margin-right:2rem;
color:#fff;
font-weight:600;
border:2px solid #65A22E;
border-radius:50px;
padding:.5rem 2.5rem;
font-size:.9rem;
}
.btn-contact{
background-color:#65A22E;
}
.cards{
padding:4rem 0rem;
position:relative;
z-index:10;
margin-top:-19rem;
background-color:transparent;
}
.cards-text{
padding:.5rem 8rem;
margin-bottom:1.5rem;
}
.cards-text h2{
color:#fff;
font-size:1.25rem;
font-weight:400;
padding-bottom:1rem;
}
.cards-text h3{
color:#fff;
font-weight:650;
font-size:1.4rem;
}
.cards .container .cards-row{display: flex; align-items: center; justify-content: space-between;}
.cards .container .cards-row .card{padding-left:3.5rem;padding-right:3.5rem;padding-bottom:.5rem;padding-top:2.5rem;border-radius:20px;position:relative; display: flex; justify-content: center; align-items: center; flex: 1;}


.card-content{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
}
.card-content h1{
color:#fff;
line-height:1.2;
font-weight:550;
font-size:150%;
margin-top:.6rem;
}
.invest{
padding-top:1.5rem;
}
.parastal{
padding-top:1.5rem;
font-size:1.9rem;
}
.bottom{
position:absolute;
bottom:-50px;
left:50%;
transform:translate(-50%,-50%);
}
.bottom a{
color:#65a22e;
font-size:.9rem;
}
.bottom a img{
padding-left:.5rem;
}
@media(max-width:600px){
    .header{
    position:relative;
    background:linear-gradient(90deg, rgba(0, 0, 0, 0.719) 0%, rgba(0, 0, 0, 0.712) 100%, rgba(0, 0, 0, 0.685) 100%, rgba(0,0,0,0.5018382352941176) 100%),
    url("/Images-Homepage/1_WvKLe0NhXE8nMvhdeAegcw.jpeg");
    background-position:left;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100vh;
    padding:2.75rem 1rem;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:2;
    }
    .header-text h2{
    color:#fff;
    font-size:1.7rem;
    position:relative;
    font-weight:500;
    }
    .btns a{
    text-decoration:none;
    margin-right:2rem;
    color:#fff;
    font-weight:600;
    border:2px solid #65a22e;
    border-radius:50px;
    padding:.5rem 2.5rem;
    font-size:.6rem;
    }
    .btns{
    display:flex;
    align-items:center;
    }
    .header-text h2::after{
    content:"";
    position:absolute;
    bottom:-20px;
    left:0;
    height:4px;
    width:16%;
    background-color:#65a22e;
    }
    .cards-row{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:3rem;
    padding:.5rem .7rem;
    }
    .cards{
    margin-top:-15rem;
    padding:1rem 0rem;
    position:relative;
    z-index:10;
    background-color:transparent;
    }
    .cards-text{
    padding:.5rem 1.2rem;
    margin-bottom:1.5rem;
    }
    .cards-text h2{
    color:#fff;
    font-size:.8rem;
    font-weight:400;
    padding-bottom:1rem;
    }
    .cards-text h3{
    color:#fff;
    font-weight:650;
    font-size:1.1rem;
    }
}